
@font-face {
    font-family: 'DrukCyr-Bold';
    src: url('./../fonts/DrukCyr-Bold.eot');
    src: local('Druk Cyr Bold'), local('DrukCyr-Bold'),
        url('./../fonts/DrukCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/DrukCyr-Bold.woff2') format('woff2'),
        url('./../fonts/DrukCyr-Bold.woff') format('woff'),
        url('./../fonts/DrukCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DrukCyr-Heavy';
    src: url('./../fonts/DrukCyr-Heavy.eot');
    src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
        url('./../fonts/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/DrukCyr-Heavy.woff2') format('woff2'),
        url('./../fonts/DrukCyr-Heavy.woff') format('woff'),
        url('./../fonts/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'DrukCyr-Super';
    src: url('./../fonts/DrukCyr-Super.eot');
    src: local('Druk Cyr Super'), local('DrukCyr-Super'),
        url('./../fonts/DrukCyr-Super.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/DrukCyr-Super.woff2') format('woff2'),
        url('./../fonts/DrukCyr-Super.woff') format('woff'),
        url('./../fonts/DrukCyr-Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DrukCyr-Medium';
    src: url('./../fonts/DrukCyr-Medium.eot');
    src: local('Druk Cyr Medium'), local('DrukCyr-Medium'),
        url('./../fonts/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/DrukCyr-Medium.woff2') format('woff2'),
        url('./../fonts/DrukCyr-Medium.woff') format('woff'),
        url('./../fonts/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 