html,
body{
    @extend %font-dc-normal-900;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; 
} 
img{        
    max-width: 100%;
    height: auto;
}
.container{     
    width: 100%;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{     
    // min-height: calc(100vh - 49px);  
    min-height: 100vh;           
    padding: 55px 0 20px 0;
}
.sections-title{
    font-size: 50px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;
}
.btn{     
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 32px;        
    border-radius: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;     
    letter-spacing: 3px; 
    &:hover{
        background-color: #fff;
        color:rgba(255, 198, 79, 1);
    }    
}
.social-link{
        display: inline-block;
        width: 25px;
        height: 25px;
    } 